/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 33px;
	line-height: 18px;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
}

a {
	color: black;
	padding: 8px;
}

th {
	padding: 8px 0 5px;

}
td{
	padding:1px 1px 7px;
	font-weight: normal;
}
h2{
	margin: 19px 0;
}

.page{
	margin: 30px;
	line-height:15px;
	font-size:25px;
}
.top {font-weight: bold;
}
.top-p {
	padding:10px;
}
.top-h1 {
	padding-bottom:20px;
}

#notice {
	font-size: 15px;
	color: green;
	padding-bottom: 15px;
}